<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groove Booth Slideshow</title>

    <!-- Optional theme -->
    <link rel="stylesheet" href="static/style.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.77.0.min.js"></script>
    <script src="static/s3.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/actions.js"></script>
    <script type="text/javascript" src="static/lodash.js"></script>
</head>
<body bgcolor="black">
  <div class="slideshow-container" name="slideshow">
    <div class="mySlides fade">
      <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/18556802_10211273493944605_8331381727097587808_o.jpg?oh=dab181accd1a4dea8838b6066069f7f7&oe=59F21756" style="width:100%">
    </div>
  </div>
  <script type="text/javascript" src="static/actions.js"></script>
</body>
</html>